.pagination-container .active {
    background: linear-gradient(to right, #38bdf8, #2563eb);
    color: white;
}

.active-menu {
    background: linear-gradient(to right, #38bdf8, #2563eb);
    color: transparent;
    background-clip: text;
    display: inline-block;
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    min-width: 100px;
}

.show {
    display: block;
}
