@tailwind base;
@tailwind components;
@tailwind utilities;
@source "../views";

.nav-active {
    @apply opacity-100 z-20;
}

.hamburger-active > span:nth-child(1){
    @apply rotate-45;
}
.hamburger-active > span:nth-child(2){
    @apply scale-0;
}
.hamburger-active > span:nth-child(3){
    @apply -rotate-45;
}

#loading-bar {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    height: 4px !important;
    z-index: 9999 !important;
    background: linear-gradient(to right, #f97316, #ea580c) !important;
}


